@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.App {
  align-items: center;
  justify-content: center;
}
body {
  background-color: #ffffff;
}

form {
 height: fit-content;
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px #ddd;
}
form h3 {
  text-align: center;
}
form input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.input_container {
  margin-bottom: 20px;
}
.btn_container {
  text-align: center;
  margin-bottom: 10px;
}
.btn_container button {
  background: white;
  color: black;
  padding: 10px 20px;
  outline: none;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1;
  position: relative;
  transition: ease-out 0.3s;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.btn_container button:hover{
  color: white;
  cursor: pointer;
}

.btn_container button::before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: black;
}

.btn_container button:hover::before{
  transition: 0.5s all ease;
  left: 0;
  right: 0; 
  opacity: 1;
  z-index: -1;
}

.todo_container {
  width: 50%;
  margin: 0 auto;
}
.todo {
  margin-top: 20px;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 10px #ddd;
}
.todo input {
  cursor: pointer;
  width: 70%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}
#i {
  font-size: 35px;
}
.button-complete {
  color: #95faa3;
  margin-right: 10px;
}
.button-edit {
  color: #56cfff;
  margin-right: 10px;
}
.button-delete {
  color: rgb(255, 122, 98);
}
@media screen and (max-width:820px) {
  .todo{
    padding: 0px 0px;
    width: max-content;
    max-width:95vw;
    margin-left:-70px;
  } 

  
  
}
@media screen and (max-width: 467px) {
  .task_container {
    width: 90%;
    
  }
  .todo{
    padding: 0px 0px;
    width: max-content;
    font-size: 14px;
    font-weight: 200;
    max-width:95vw;
    margin-left:-74px;
  }
  .task {
    margin-right: 0px;
  }
  .todo input {
   width: 60%;
   font-size: 14px;
  }
}
input:focus,
button:focus {
  outline: none;
}